.wrapper {display: grid;width: 100%;grid-template-columns: 30% 30% 30%;grid-gap: 5%;background-color: #fff;color: #444;}

  .heading{display:grid;grid:subgrid;grid-column:1/span 3;grid-row:1}
      .title{grid-column:1/span 2;grid-row:1/span 3;}
      .info{grid-column:3;grid-row:2;}

  .big-img{display:grid;grid:subgrid;grid-column:1/span 3;grid-row:4;}
      .marketing{grid-column: 1;grid-row:1;}
      .tag{grid-column: 1;grid-row:2}

  .section{display:grid;grid:subgrid;grid-column:1/span 3;grid-row:5;}
      .layout1{grid-column: 1;grid-row:1;}
      .layout2{grid-column: 2;grid-row:1;}
      .layout3{grid-column: 3;grid-row:1;}
